---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle="Blog posts">
  <section>
    <p>Explora las voces y pensamientos compartidos por nuestra comunidad.</p>
    <ul class="blog-posts">
      {
        allPosts.map((post) => (
          <BlogPost
            title={post.frontmatter.title}
            url={post.url}
            date={post.frontmatter.pubDate}
            author={post.frontmatter.author}
            description={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  section {
    min-height: 100vh;
  }
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 1rem;
  }
</style>
