---
<<<<<<< HEAD
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle="Blog posts">
  <section>
    <p>Explora las voces y pensamientos compartidos por nuestra comunidad.</p>
    <ul class="blog-posts">
      {
        allPosts.map((post) => (
          <BlogPost
            title={post.frontmatter.title}
            url={post.url}
            date={post.frontmatter.pubDate}
            author={post.frontmatter.author}
            description={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  section {
    min-height: 70vh;
  }
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 1rem;
  }
</style>
=======

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>Blog</h1>
    <ul>
      <li><a href="/blog/first-post">First Post</a></li>
    </ul>
  </body>
</html>
>>>>>>> 4a8bb4a (first commit)
