---
const { title, url, date, author, description } = Astro.props;
---

<li>
  <a href={url}>
    <div class="card">
      <>
        <h3 class="card-title">{title}</h3>
        <p class="card-meta">{date} | {author}</p>
        <p class="card-description">{description}</p>
      </>
      <p class="post-tag">Leer Post</p>
    </div>
  </a>
</li>

<style>
  a,
  li {
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    width: 100%;

    overflow: hidden;
    border: 1px solid #666;

    height: 100%;
    min-height: 200px;

    border-radius: 8px;
    padding: 4px 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.3s;
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }

  .post-tag {
    border: solid 1px #333;
    border-radius: 3px;
    padding: 4px 16px;
    font-size: 16px;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .card-meta {
    font-size: 0.8rem;
    margin-bottom: 8px;
  }

  .card-description {
    margin: 8px 0;
    font-size: 1rem;
    text-wrap: pretty;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    max-height: calc(1.5em * 2); /* 3 líneas de alto */
  }
</style>
